.dropdowncitytext {
  /* Body 2 - reg 14 */

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  display: flex;
  align-items: center;
  letter-spacing: 0.25px;

  /* Black / Medium Emphasis */

  color: rgba(0, 0, 0, 0.6);
}
.citydropdownlabel {
  /* H6 - reg 18 - standard */

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  letter-spacing: 0.25px;

  /* Black / High Emphasis */

  color: rgba(0, 0, 0, 0.87);
}
